//Fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$Primary-Font: 'Anton', sans-serif;
$Secondary-Font: 'Crimson Text', serif;
$Third-Font: 'Lato', sans-serif;

//Colors
$Blanco:#fff;
$Naranja:#ff5b25;
$Negro:#000;